<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="appName" value="UaNetCrawler" />
  <variable name="fileSuffix" value="" />
  <variable name="logDirectory" value="Logs" />
  <variable name="archiveDirectory" value="${var:logDirectory}/Archive" />

  <variable name="LogLayout" value="[${level}]&#9;[${threadid}]&#9;[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}]&#9;[${message}${exception:format=tostring}]"/>
  <variable name="ConsoleLayout" value="${message}"/>

  <targets async="true">
    <target xsi:type="File"
           name="File"
           archiveFileName="${archiveDirectory}/${var:fileSuffix}${var:appName}.{##}.log"
           archiveEvery="Day"
           archiveNumbering="Sequence" 
           concurrentWrites ="false"
           maxArchiveFiles="20"
           archiveDateFormat="yyyy-MM-dd-HH-mm"
           encoding="utf-8"
           fileName="${logDirectory}/${var:fileSuffix}${var:appName}.log"
           layout="${LogLayout}" />

    <target name="Console" xsi:type="ColoredConsole" layout="${ConsoleLayout}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Cyan" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="DarkRed" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="File" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>
